html, body{
	width: 100%;
	height: 100%;
}

/*body::-webkit-scrollbar { 
    display: none; 
}*/

.big-text{
	font-size: 3em;
}

.medium-text{
	font-size: 1.5em;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100% !important;
}

.auto-height{
	height: auto;
}

.custom-height{
	height: 700px;
}

.no-margin{
	margin: 0px;
}

.no-padding{
	padding: 0px;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.fixed{
	position: fixed;
}

.blue-grey.darken-4{
	transition: background-color 1s;
}

.black1{
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 1s;
}

.no-background{
	background-color: transparent;
	transition: background-color 1s;
}

.no-shadow{
	box-shadow: none;
}

.navbar-fixed .no-background ul a:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-left{
	margin-left: 1em;
}

.margin-right{
	margin-right: 1em;
}

.bit-margin-left{
	margin-left: 0.5em;
}

.bit-margin-left-2{
	margin-left: 10.5px;
}

.margin-bottom{
	margin-bottom: 2em;
}

.font-open-sans-condensed{
	font-family: 'Open Sans Condensed', sans-serif;
}

a.my-name{
	display: none;
}

.top-space{
	margin-top: 2em;
}

.big-top-space{
	margin-top: 6em;
}

.big-top-padding{
	padding-top: 6em !important;
}

.responsive-font{
  font-size: 5em;
}

#responsive-nav
{
	display: none;
}

#navigation a.menu-link:hover{
	border-bottom: 1px solid white;
}

#menu-opener:hover{
	cursor: pointer;
}

.figure{
	transform: skew(-20deg);
	right: 40%;
	opacity: .9;
}

.img-backg{
	background-image: url(../images/normal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 600px) {
	#sobreMi i.fa:hover{
		color: #616161;
		font-size: 7em;
		transition: all 0.5s;
	}

	#sobreMi i.fa:not(:hover){
		transition: all 0.5s;
	}
}

@media screen and (max-width: 992px) {
	nav, nav .nav-wrapper i{
		height: 64px;
    line-height: 64px;
	}

	#responsive-nav
	{
		display: block;
	}

	#navigation {
	  display: none !important;
	}

	#responsive-nav ul {
	  position: absolute;
	  width: 100%;
	  font-size: 1.5em;
	  margin: 0px;
	  margin-top: -6px;
	  padding: 0px;
	  left: 0px;
	  text-align: center;
	  max-height: 0px;
	  overflow: hidden;
	  transition: all 0.4s;
	  z-index: 10;
	}

	#responsive-nav ul.active {
	  max-height: 80vh;
	}

	#responsive-nav ul li {
		width: 100%;
	  display: block;
	  padding: 0px;
	}

	#skills div{
		height: auto;
	}

	#skills-container > div > div{
		margin-top: 2em;
	}

  .figure{
		transform: skew(0deg);
		right: 0%;
		opacity: .5;
	}

	.img-backg{
		background-image: url(../images/small.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.small-position{
		position: absolute; 
		bottom: 20%;
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
  .responsive-font{
  	font-size: 3em;
  }

  .large-text{
  	font-size: 1.2em !important;
  }

  #sobreMi i.fa:hover{
		color: #616161;
		transition: all 0.5s;
	}
}

@media screen and (max-height: 600px) {
  .responsive-font{
  	font-size: 3em;
  }

  .full-height{
  	height: 600px !important;
  }

  .parallax{
  	height: 600px !important;
  }
}

.bold{
	font-weight: bold;
}

.light{
  font-weight: lighter;
}

.opacity{
	opacity: 0.8 !important;
}

.ok{
	display: none;
}

.up{
	z-index: 10;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}